.completo{
    background-color: rgb(198, 198, 198);
}

.Cabecera{
    color: rgb(56, 56, 56);
    width: 100%;
    margin-left: 3%;
    background-color: rgb(78, 153, 206);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin-top: 20px;
    border: 0.5px solid black;
    box-shadow: 0 0 5px black;  
    
}

.animacion{
    width: 30px;
    height: 30px;
    background-color: #8f99a4;
    
    animation-name: MiAnimacion;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
        }
    
    @keyframes MiAnimacion {
        from {
            font-size:0%;
            margin-left:100%;
        }
        25% {
            font-size:45%;
            margin-left:50%;
        }
    
        50% {
            font-size:90%;
            margin-left:50%;
        }
    
        to {
            font-size:90%;
            margin-left:5%;
            width:100%;
        }
    }

.imagen1{
    height: 100px;
    width: 100px;
}


h1{
    margin-left: 10px;
    margin-top: 50px;
    
}

nav ul li {
    width: 18%;
    display: inline-block;
    justify-content: space-evenly;
    border: 1px solid;
    border-radius: 0.25em;
    margin-left: 5%;
    box-shadow: 0 0 5px black;
      
    
}
nav ul li a{
    background-color: rgb(44, 76, 99);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
    
}

nav ul li a:hover{
    background-color: rgb(64, 137, 153);
    color: aliceblue;
}


main img{   
    float: right;
    width: 330px;
    height: 220px;
}

.Cuerpo{
    color: black;
    height: 700px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(78, 153, 206);
    color: rgb(13, 13, 14);
    font-family: 'Open Sans', sans-serif;
    border: 0.1px solid rgb(197, 197, 197);
    width: 90%;
    
}
.columna1{
    width: 45%;
    height: 500px;
    margin-left: 2%;
    display: inline-flex;
}

.columna2{
    width: 900px;
    height: 500px;
    margin-left: 5%;

    
}



.img2{
    width: 573px;
    height: 410px;
    margin-right: 5%;
    box-shadow: 0 0 5px rgb(214, 206, 206);
}

.columna3{
    background-color: aliceblue;
    border: 0.1px solid rgb(197, 197, 197);
    color: black;    
    width: 100%;
    height: auto;
   
}

.texto{
    font-size: medium;
    color: aliceblue;
    margin-left: 15%;
    margin-top: 15px;
}

.texto10:hover{
    width: 400px;
    background-color: rgb(90, 132, 141);
    color: aliceblue;
}









