.completo{
    background-color: rgb(160, 160, 160);
}

.Cabecera{
    color: rgb(205, 250, 101);
    width: 100%;
    margin-left: 3%;
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin-top: 20px;
    border: 0.5px solid black;
    
}

.imagen1{
    height: 100px;
    width: 100px;
}


h1{
    margin-left: 10px;
    margin-top: 50px;
    
}

nav ul li {
    width: 18%;
    display: inline-block;
    justify-content: space-evenly;
    border: 1px solid;
    border-radius: 0.25em;
    margin-left: 5%;
      
    
}
nav ul li a{
    background-color: rgb(205, 250, 101);
    color: rgb(77, 77, 77);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
    
}

nav ul li a:hover{
    background-color: rgb(126, 153, 64);
    color: aliceblue;
}

.Cuerpo{
    display: inline-block;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(205, 250, 101);
    color: rgb(17, 17, 17);
    font-family: 'Open Sans', sans-serif;
    border: 0.5px solid rgb(196, 196, 196);
}
.box1{
    background-color: rgb(205, 250, 101);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}
.box2{
    background-color: azure;
    width: 100%;
    height: 450px;
}

.box3{
    background-color: azure;
    width: 35%;
    height: 350px;
    margin-left: 5%;
    padding-top: 50px;
    
}

.imagen2{
    position: relative;
    margin-top: 50px;
    float: right;
    width: 650px;
    height: 350px;
        
}

footer{
    margin-top: 600px;
}







